<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shape.repository.DashBoardRepository">

	<select id="categoryMeet"
			resultType="com.itwill.shape.dto.MngrCategoryDto">
		<!-- SELECT DISTINCT
		      CATEGORY
		    , COUNT(*) as count
		FROM MEET_INFO
		GROUP BY CATEGORY -->
	SELECT COUNT(*) AS CATEGORYCOUNT FROM MEET_INFO WHERE CATEGORY = '운동·액티비티'
	UNION ALL
	SELECT COUNT(*) AS CATEGORYCOUNT FROM MEET_INFO WHERE CATEGORY = '음식·음료'
	UNION ALL
	SELECT COUNT(*) AS CATEGORYCOUNT FROM MEET_INFO WHERE CATEGORY = '취미'
	UNION ALL
	SELECT COUNT(*) AS CATEGORYCOUNT FROM MEET_INFO WHERE CATEGORY = '여행·동행'
	UNION ALL
	SELECT COUNT(*) AS CATEGORYCOUNT FROM MEET_INFO WHERE CATEGORY = '자기계발·교육'
	UNION ALL
	SELECT COUNT(*) AS CATEGORYCOUNT FROM MEET_INFO WHERE CATEGORY = '동네·친목'
	UNION ALL
	SELECT COUNT(*) AS CATEGORYCOUNT FROM MEET_INFO WHERE CATEGORY = '문화·예술'
	UNION ALL
	SELECT COUNT(*) AS CATEGORYCOUNT FROM MEET_INFO WHERE CATEGORY = '기타'
	
	</select>
	
	<select id="genderFemale" resultType="com.itwill.shape.dto.MngrMeetGraphDto">
		SELECT COUNT(*) as feMaleCount FROM USER_INFO WHERE GENDER = 'M'
	</select>
	
	<select id="genderMale" resultType="com.itwill.shape.dto.MngrMeetGraphDto">
		SELECT COUNT(*) as maleCount FROM USER_INFO WHERE GENDER = 'F'
	</select>
	
	<select id="areaMeet" resultType="com.itwill.shape.dto.MngrAreaMeetDto">

	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '서울특별시'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '인천광역시'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '대전광역시'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '광주광역시'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '대구광역시'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '울산광역시'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '부산광역시'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '경기도'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '강원도'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '충청북도'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '충청남도'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '전라북도'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '전라남도'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '경상북도'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '경상남도'
	UNION ALL
	SELECT COUNT(*) AS AREACOUNT FROM MEET_INFO WHERE SIDO = '제주도'
	
	</select>
</mapper>