<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shape.repository.MeetLikeRepository">

	<!-- 찜 수 create문 -->
	<insert id="likeCreate">
		insert into MEET_LIKE (mtid, id)
		values (#{mtid}, #{id})
	</insert>
	
	<!-- 찜 수 delete문 -->
	<delete id="likeDelete">
		delete from MEET_LIKE 
		where ID = #{id} and MTID = #{MTID}
	</delete>
	
	<!--  meetList.jsp에서 사용될 찜 수 저장.-->
	 <!-- java.lang.Long: wrapper Class(기본 데이터 타입을 객체로 감싸는 클래스) -->
    <!-- primary key를 사용해도 됨: 중복 안되고 null이 아니기에 -->
    <select id="selectMeetlikeCountWithMtid" resultType="java.lang.Long">
        select count(mtid) from MEET_LIKE where mtid = #{mtid}
    </select>
    

    <!-- 지언 찜 도전 0613 -->
	
	<!-- 특정 mtid의 찜 갯수를 가져옴 -->
	<select id="getCountByMtid" resultType="com.itwill.shape.dto.MeetLikeCountDto">
		select count(mtid) from MEET_LIKE where mtid = #{mtid}
	</select>
	
	<!-- 특정 mtid에 유저(id)가 찜을 했는 지의 여부 확인 -->
	<select id="isLikedByUser">
		select count(*) from MEET_LIKE where mtid = #{mtid} and id = #{id}
	</select>
	
	<!-- 특정 mtid에 유저의 찜 추가 -->
	<insert id="insertLike">
		insert into MEET_LIKE (mtid, id) values (#{mtid}, #{id})
	</insert>
	
	<!-- 특정 mtid에 유저의 찜 삭제 -->
	<delete id="deleteLike">
		delete from MEET_LIKE where mtid = #{mtid} and id = #{id}	
	</delete>
	
</mapper>