<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shape.repository.MeetListRepository">

	<!-- 모임 찾기 page -->
	<!-- 최신순으로 select문 -->
	<select id="selectOrderByRecent">
		select (M.mtid, M.sido, M.mt_date, M.category count(L.mtid) as LCNT, count(P.prtcp_id) as PCNT, M.nm_ppl, M.title) 
		from MEET_INFO M 
		left join MEET_LIKE L 
		on M.mtid = L.mtid 
		left join MEET_PRTCP P
		on M.mtid = P.mtid
		group by M.mtid, M.sido, M.mt_date
		order by create_date desc
	</select>
	
	<!-- 인기순으로 select문 -->
	<select id="selectOrderByPopularity">
		select (M.mtid, M.sido, M.mt_date, M.category count(L.mtid) as LCNT, count(P.prtcp_id) as PCNT, M.nm_ppl, M.title) 
		from MEET_INFO M 
		left join MEET_LIKE L 
		on M.mtid = L.mtid 
		left join MEET_PRTCP P
		on M.mtid = P.mtid
		group by M.mtid, M.sido, M.mt_date
		order by count(L.id) desc
	</select>
	
	<!-- 키워드 검색 select문 -->
	<select id="selectByKeyword">
		select (M.mtid, M.sido, M.mt_date, M.category count(L.mtid) as LCNT, count(P.prtcp_id) as PCNT, M.nm_ppl, M.title) 
		from MEET_INFO M 
		left join MEET_LIKE L 
		on M.mtid = L.mtid 
		left join MEET_PRTCP P
		on M.mtid = P.mtid
		where title like '%'(" #{title} ")'%'
		group by M.mtid, M.sido, M.mt_date
		order by create_date desc
	</select>
	
	<!-- 지역 select문 -->
	<select id="selectByLocation">
		select (M.mtid, M.sido, M.mt_date, M.category count(L.mtid) as LCNT, count(P.prtcp_id) as PCNT, M.nm_ppl, M.title) 
		from MEET_INFO M 
		left join MEET_LIKE L 
		on M.mtid = L.mtid 
		left join MEET_PRTCP P
		on M.mtid = P.mtid
		where sido like '%'(" #{sido} ")'%'
		group by M.mtid, M.sido, M.mt_date
		order by create_date desc
	</select>
	
	<!-- 분야 select문 -->
	<select id="selectByCategory">
		select (M.mtid, M.sido, M.mt_date, M.category count(L.mtid) as LCNT, count(P.prtcp_id) as PCNT, M.nm_ppl, M.title) 
		from MEET_INFO M 
		left join MEET_LIKE L 
		on M.mtid = L.mtid 
		left join MEET_PRTCP P
		on M.mtid = P.mtid
		where category like '%'(" #{category} ")'%'
		group by M.mtid, M.sido, M.mt_date
		order by create_date desc
	</select>
	
</mapper>