<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itwill.shape.repository.MeetInfoRepository">

	<!-- 마이페이지 -->
	<!-- 내가 참여 중인 모임 목록 불러오기 -->
	<select id="selectByPrtcpId"
		resultType="com.itwill.shape.dto.MeetInfoPrtcpLikeSelectByPrtcpIdDto">
		SELECT M.mtid, M.sido, M.mt_date, M.category, count(L.mtid) AS LCNT, 
			count(P.prtcp_id) AS PCNT, M.nm_ppl, M.title FROM meet_info M LEFT JOIN meet_like 
			L ON M.mtid = L.mtid LEFT JOIN meet_prtcp P ON M.mtid = P.mtid WHERE P.prtcp_id 
			= #{prtcpId} GROUP BY M.mtid, M.sido, M.mt_date, M.category, M.nm_ppl, M.title, 
			M.created_date ORDER BY M.created_date DESC
		<!-- SELECT M.mtid, M.sido, M.mt_date, M.category, count(L.mtid) AS LCNT, 
			count(P.prtcp_id) AS PCNT, M.nm_ppl, M.title FROM meet_info M LEFT JOIN meet_like 
			L ON M.mtid = L.mtid LEFT JOIN meet_prtcp P ON M.mtid = P.mtid WHERE P.prtcp_id 
			= #{prtcpId} GROUP BY M.mtid, M.sido, M.mt_date, M.category, M.nm_ppl, M.title, 
			M.created_date ORDER BY M.created_date DESC OFFSET #{cri.pageNum} ROWS FETCH 
			NEXT #{cri.amount} ROWS ONLY -->
		<!-- WITH P AS( SELECT M.mtid , M.sido , M.mt_date , M.category , M.nm_ppl 
			, M.title , M.CRTR_ID , M.created_date , COUNT(DISTINCT L.mtid) AS LCNT , 
			COUNT(P.mtid) AS PCNT FROM MEET_INFO M LEFT JOIN ( SELECT DISTINCT MTID FROM 
			MEET_LIKE ) L ON M.mtid = L.mtid LEFT JOIN MEET_PRTCP P ON M.mtid = P.mtid 
			WHERE P.prtcp_id = #{prtcpId} GROUP BY M.MTID, M.SIDO, M.MT_DATE, M.CATEGORY, 
			M.NM_PPL, M.TITLE, M.CREATED_DATE, M.CRTR_ID ORDER BY M.CREATED_DATE DESC) 
			SELECT * FROM P OFFSET #{cri.pageNum} ROWS FETCH NEXT #{cri.amount} ROWS 
			ONLY -->
		<!-- <![CDATA[ SELECT * FROM ( SELECT ROWNUM AS rn, M.mtid, M.sido, M.mt_date, 
			M.category, count(L.mtid) AS LCNT, count(P.prtcp_id) AS PCNT, M.nm_ppl, M.title 
			FROM meet_info M LEFT JOIN meet_like L ON M.mtid = L.mtid LEFT JOIN meet_prtcp 
			P ON M.mtid = P.mtid WHERE P.prtcp_id = #{prtcpId} AND ROWNUM <= (#{cri.pageNum} 
			* #{cri.amount}) GROUP BY M.mtid, M.sido, M.mt_date, M.category, M.nm_ppl, 
			M.title, M.created_date ORDER BY M.created_date DESC ) WHERE rn > ((#{cri.pageNum} 
			- 1) * #{cri.amount}) ]]> -->
	<!-- 	SELECT *
		FROM (
		SELECT M.mtid, M.sido, M.mt_date, M.category, count(L.mtid) AS LCNT,
		count(P.prtcp_id) AS PCNT, M.nm_ppl, M.title
		FROM meet_info M
		LEFT JOIN meet_like L ON M.mtid = L.mtid
		LEFT JOIN meet_prtcp P ON M.mtid = P.mtid
		WHERE P.prtcp_id = #{prtcpId}
		GROUP BY M.mtid, M.sido, M.mt_date, M.category, M.nm_ppl, M.title
		ORDER BY M.created_date DESC
		)
		OFFSET #{cri.pageNum} ROWS FETCH NEXT #{cri.amount} ROWS ONLY -->
	</select>

	<!-- 내가 개설한 모임 목록 불러오기 -->
	<select id="selectByCrtrId"
		resultType="com.itwill.shape.dto.MeetInfoPrtcpLikeSelectByPrtcpIdDto">
		SELECT M.mtid, M.sido, M.mt_date, M.category, count(L.mtid)
		AS LCNT,
		count(P.prtcp_id) AS PCNT, M.nm_ppl, M.title
		FROM meet_info M
		LEFT JOIN meet_like L ON M.mtid = L.mtid
		LEFT JOIN meet_prtcp P ON
		M.mtid = P.mtid
		WHERE M.crtr_id = #{crtrId}
		GROUP BY M.mtid, M.sido,
		M.mt_date, M.category, M.nm_ppl, M.title,
		M.created_date
		ORDER BY
		M.created_date DESC
	</select>

	<!-- 내가 찜한 모임 목록 불러오기 -->
	<select id="selectById"
		resultType="com.itwill.shape.dto.MeetInfoPrtcpLikeSelectByPrtcpIdDto">
		SELECT M.mtid, M.sido, M.mt_date, M.category, count(L.mtid)
		AS LCNT,
		count(P.prtcp_id) AS PCNT, M.nm_ppl, M.title
		FROM meet_info M
		LEFT JOIN meet_like L ON M.mtid = L.mtid
		LEFT JOIN meet_prtcp P ON
		M.mtid = P.mtid
		WHERE L.id = #{id}
		GROUP BY M.mtid, M.sido, M.mt_date,
		M.category, M.nm_ppl, M.title,
		M.created_date
		ORDER BY M.created_date
		DESC
	</select>
	<!-- 마이페이지 끝 -->

	<!-- 모임 개설 page -->
	<!-- 모임 개설 insert문 -->
	<insert id="insert">
		insert into MEET_INFO (CRTR_ID, TITLE, CATEGORY,
		SIDO, SIGUNGU,
		LOCATION, MT_DATE, MT_TIME,
		ED_DATE, NM_PPL, MT_COST, MT_COST_INFO,
		<if test="img_1 != null">
			IMG_1,
		</if>
		<if test="img_2 != null">
			IMG_2,
		</if>
		<if test="img_3 != null">
			IMG_3,
		</if>
		<if test="img_4 != null">
			IMG_4,
		</if>
		<if test="img_5 != null">
			IMG_5,
		</if>
		CONTENT, CREATED_DATE)
		values (#{crtr_id}, #{title},
		#{category},
		#{sido}, #{sigungu}, #{location},
		#{mt_date}, #{mt_time},
		#{ed_date},
		#{nm_ppl}, #{mt_cost},
		#{mt_cost_info},
		<if test="img_1 != null">
			#{img_1},
		</if>
		<if test="img_2 != null">
			#{img_2},
		</if>
		<if test="img_3 != null ">
			#{img_3},
		</if>
		<if test="img_4 != null">
			#{img_4},
		</if>
		<if test="img_5 != null">
			#{img_5},
		</if>
		#{content},
		sysdate)
	</insert>

	<!-- 모임 개설 insert문 이미지 test -->
	<!-- <insert id="insert"> insert into MEET_INFO (CRTR_ID, TITLE, CATEGORY, 
		SIDO, SIGUNGU, LOCATION, MT_DATE, MT_TIME, ED_DATE, NM_PPL, MT_COST, MT_COST_INFO, 
		IMG_1, CONTENT, CREATED_DATE) values (#{crtr_id}, #{title}, #{category}, 
		#{sido}, #{sigungu}, #{location}, #{mt_date}, #{mt_time}, #{ed_date}, #{nm_ppl}, 
		#{mt_cost}, #{mt_cost_info}, #{img_1}, #{content}, sysdate) </insert> -->

	<!-- 모임 삭제 -->
	<delete id="deleteByMtid">
		delete from MEET_INFO where MTID = #{mtid}
	</delete>

	<!-- 모임 수정 update문 -->
	<update id="update">
		update MEET_INFO set TITLE = #{title}, MT_DATE = #{mt_date}, MT_TIME = #{mt_time},
		MT_COST = #{mt_cost}, MT_COST_INFO =
		#{mt_cost_info}, 
		<if test="img_1 != null">
			IMG_1 = #{img_1},
		</if>
		<if test="img_2 != null">
			IMG_2 = #{img_2},
		</if>
		<if test="img_3 != null">
			IMG_3 = #{img_3},
		</if>
		<if test="img_4 != null">
			IMG_4 = #{img_4},
		</if>
		<if test="img_5 != null">
			IMG_5 = #{img_5},
		</if>
		CONTENT = #{content} where MTID =
		#{mtid}
	</update>

	<!-- 모임 정보 mtid로 불러오기 -->
	<select id="selectByMtid"
		resultType="com.itwill.shape.domain.MeetInfo">
		select * from MEET_INFO where MTID = #{mtid}
	</select>

	<!-- meetList.jsp에 사용될 모든 sql 문장들 정리. -> service에서 정리 및 합침. -->
	<!-- 모임 찾기 page -->


	<!-- 최신순으로 select문 -->
	<select id="selectOrderByRecent"
		resultType="com.itwill.shape.dto.MeetListCountDto">
		SELECT M.mtid, M.sido, M.mt_date, M.category, count(L.mtid)
		AS LCNT,
		count(P.prtcp_id) AS PCNT, M.nm_ppl, M.title, M.CREATED_DATE
		FROM MEET_INFO M
		LEFT JOIN MEET_LIKE L ON M.mtid = L.mtid
		LEFT JOIN
		MEET_PRTCP P ON M.mtid = P.mtid
		GROUP BY M.mtid, M.sido, M.mt_date,
		M.category, M.nm_ppl, M.title,
		M.CREATED_DATE
		ORDER BY M.CREATED_DATE
		DESC
	</select>

	<!-- 모집중 -->
	<select id="selectOrderByMozipIng"
		resultType="com.itwill.shape.dto.MeetListCountDto">
		<![CDATA[
		SELECT M.mtid, M.sido, M.mt_date, M.category, COUNT(L.mtid) AS LCNT,
		COUNT(P.prtcp_id) AS PCNT, M.nm_ppl, M.title, M.CREATED_DATE
		FROM MEET_INFO M
		LEFT JOIN MEET_LIKE L ON M.mtid = L.mtid
		LEFT JOIN MEET_PRTCP P ON M.mtid = P.mtid
		GROUP BY M.mtid, M.sido, M.mt_date, M.category, M.nm_ppl, M.title,
		M.CREATED_DATE
		HAVING COUNT(P.prtcp_id)  <  M.nm_ppl
		ORDER BY M.CREATED_DATE DESC
		]]>


	</select>

	<!-- 모집완료 -->
	<!-- 안씀 -->
	<select id="selectOrderByMozipEnd"
		resultType="com.itwill.shape.dto.MeetListCountDto">
		SELECT M.mtid, M.sido, M.mt_date, M.category, COUNT(L.mtid) AS LCNT,
		COUNT(P.prtcp_id) AS PCNT, M.nm_ppl, M.title, M.CREATED_DATE
		FROM
		MEET_INFO M
		LEFT JOIN MEET_LIKE L ON M.mtid = L.mtid
		LEFT JOIN
		MEET_PRTCP
		P ON M.mtid = P.mtid
		GROUP BY M.mtid, M.sido, M.mt_date,
		M.category,
		M.nm_ppl, M.title,
		M.CREATED_DATE
		HAVING PCNT <![CDATA[ >= ]]>
		M.nm_ppl
		ORDER BY
		M.CREATED_DATE DESC
	</select>

	<!-- 인기순으로 select문 -->
	<select id="selectOrderByPopularity"
		resultType="com.itwill.shape.dto.MeetListCountDto">
		SELECT M.mtid, M.sido, M.mt_date, M.category, count(L.mtid)
		AS LCNT,
		count(P.prtcp_id) AS PCNT, M.nm_ppl, M.title, M.CREATED_DATE
		FROM MEET_INFO M
		LEFT JOIN MEET_LIKE L ON M.mtid = L.mtid
		LEFT JOIN
		MEET_PRTCP P ON M.mtid = P.mtid
		GROUP BY M.mtid, M.sido, M.mt_date,
		M.category, M.nm_ppl, M.title,
		M.CREATED_DATE
		ORDER BY count(L.mtid)
		DESC
	</select>

	<!-- 키워드 검색 select문 -->
	<select id="selectByKeyword"
		resultType="com.itwill.shape.dto.MeetListCountDto">
		SELECT M.mtid, M.sido, M.mt_date, M.category, count(L.mtid)
		AS LCNT,
		count(P.prtcp_id) AS PCNT, M.nm_ppl, M.title, M.CREATED_DATE
		FROM MEET_INFO M
		LEFT JOIN MEET_LIKE L ON M.mtid = L.mtid
		LEFT JOIN
		MEET_PRTCP P ON M.mtid = P.mtid
		where lower(M.title) like lower('%' ||
		#{title} || '%')
		GROUP BY M.mtid, M.sido, M.mt_date, M.category,
		M.nm_ppl, M.title,
		M.CREATED_DATE
		order by M.CREATED_DATE DESC
	</select>

	<!-- 지역 select문 -->
	<select id="selectByLocation"
		resultType="com.itwill.shape.dto.MeetListCountDto">
		SELECT M.mtid, M.sido, M.mt_date, M.category, count(L.mtid)
		AS LCNT,
		count(P.prtcp_id) AS PCNT, M.nm_ppl, M.title, M.CREATED_DATE
		FROM MEET_INFO M
		LEFT JOIN MEET_LIKE L ON M.mtid = L.mtid
		LEFT JOIN
		MEET_PRTCP P ON M.mtid = P.mtid
		where sido = #{sido}
		GROUP BY M.mtid,
		M.sido, M.mt_date, M.category, M.nm_ppl, M.title,
		M.CREATED_DATE
		order
		by M.CREATED_DATE DESC
	</select>

	<!-- 분야 select문 -->
	<select id="selectByCategory"
		resultType="com.itwill.shape.dto.MeetListCountDto">
		SELECT M.mtid, M.sido, M.mt_date, M.category, count(L.mtid)
		AS LCNT,
		count(P.prtcp_id) AS PCNT, M.nm_ppl, M.title, M.CREATED_DATE
		FROM MEET_INFO M
		LEFT JOIN MEET_LIKE L ON M.mtid = L.mtid
		LEFT JOIN
		MEET_PRTCP P ON M.mtid = P.mtid
		where category = #{category}
		GROUP BY
		M.mtid, M.sido, M.mt_date, M.category, M.nm_ppl, M.title,
		M.CREATED_DATE
		order by M.CREATED_DATE DESC

	</select>

	<!-- 상세 페이지 가져오기 -->
	<select id="detailByMtid"
		resultType="com.itwill.shape.domain.MeetInfo">
		select
		m.mtid
		, m.crtr_id
		, m.title
		, m.category
		, m.sido
		,
		m.sigungu
		, m.location
		, m.mt_date
		, m.mt_time
		, m.ed_date
		, m.nm_ppl
		,
		m.mt_cost
		, m.mt_cost_info
		, m.img_1
		, m.img_2
		, m.img_3
		, m.img_4
		, m.img_5
		, m.content
		, nvl(m.views, 0)
		, m.created_date
		from meet_info m
		WHERE
		m.mtid = #{mtid}

	</select>

	<!-- paging 검색 -->
	<select id="selectBySearchPaging"
		resultType="com.itwill.shape.dto.MeetListCountDto">
		WITH P AS(
		SELECT
		M.mtid
		, M.sido
		, M.mt_date
		, M.category
		, M.nm_ppl
		,
		M.title
		, M.CRTR_ID
		, M.created_date
		, COUNT(L.mtid) AS LCNT
		,
		COUNT(P.mtid) AS PCNT
		FROM MEET_INFO M
		LEFT JOIN (
		SELECT DISTINCT MTID
		FROM MEET_LIKE
		) L ON M.mtid = L.mtid
		LEFT JOIN MEET_PRTCP P ON M.mtid =
		P.mtid
		    <![CDATA[
		   		WHERE M.ED_DATE >= (
		   			SELECT
		   				TO_CHAR(SYSDATE,'YYYY-MM-DD')
		   			FROM DUAL
		   		)
		    ]]>
		<if test='searchTitle != null and searchTitle neq""'>
			AND LOWER(M.TITLE) LIKE LOWER('%' || #{searchTitle} ||
			'%')
		</if>
		<if test='searchCategory != null and searchCategory neq ""'>
			AND M.CATEGORY = #{searchCategory}
		</if>
		<if test='searchSidoValue != null and searchSidoValue neq ""'>
			AND M.SIDO = #{searchSidoValue}
		</if>
		<if test='searchMozipCheck != null and searchMozipCheck neq ""'>
		    	<![CDATA[
				    AND M.NM_PPL > (
				        SELECT
				            COUNT(*)
				        FROM MEET_PRTCP P1
				        WHERE P1.MTID = M.MTID
				    )
			    ]]>
		</if>
		GROUP BY
		M.MTID, M.SIDO, M.MT_DATE, M.CATEGORY, M.NM_PPL, M.TITLE,
		M.CREATED_DATE, M.CRTR_ID
		<if test='searchSortBy eq "recent"'>
			ORDER BY M.CREATED_DATE DESC
		</if>
		<if test='searchSortBy eq "popularity"'>
			ORDER BY LCNT DESC
		</if>
		)
		SELECT
		*
		FROM P
		OFFSET #{pageNum} ROWS FETCH NEXT #{amount} ROWS ONLY
	</select>

	<!-- 페이징 -->
	<select id="meetInfoCount" resultType="int">
		SELECT
		COUNT(*)
		FROM MEET_INFO M
	    <![CDATA[
	   		WHERE M.ED_DATE >= (
	   			SELECT
	   				TO_CHAR(SYSDATE,'YYYY-MM-DD')
	   			FROM DUAL
	   		)
	    ]]>
		<if test='searchTitle != null and searchTitle neq ""'>
			AND LOWER(M.TITLE) LIKE LOWER('%' || #{searchTitle} ||
			'%')
		</if>
		<if test='searchCategory != null and searchCategory neq ""'>
			AND M.CATEGORY = #{searchCategory}
		</if>
		<if test='searchSidoValue != null and searchSidoValue neq ""'>
			AND M.SIDO = #{searchSidoValue}
		</if>
		<if test='searchMozipCheck != null and searchMozipCheck neq ""'>
	    	<![CDATA[
			    AND M.NM_PPL > (
			        SELECT
			            COUNT(*)
			        FROM MEET_PRTCP P1
			        WHERE P1.MTID = M.MTID
			    )
		    ]]>
		</if>
		ORDER BY M.CREATED_DATE DESC
	</select>

	<!-- <resultMap type="java.util.HashMap" id="imgByte"> <result property="img1" 
		column="img_1" javaType="byte[]" /> <result property="mtid" column="mtid" 
		javaType="java.lang.Long" /> </resultMap> parameterType="Map" resultType="imgByte" -->

	<select id="selectImg"
		resultType="com.itwill.shape.dto.MeetListCountDto">
		SELECT img_1
		FROM MEET_INFO
		where mtid = #{ mtid }
	</select>


</mapper>