<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shape.repository.MeetPrtcpRepository">

	<!-- 상세보기 page -->
	
	<!-- 참여한 user 정보 select문  선영이꺼 -->
	<select id="getUserInfo" resultType="com.itwill.shape.domain.UserInfo">
		select id, name, phone, email
		from USER_INFO
		where id = #{userId}
	</select>
	
	<!-- 참여하기 insert문 !-->
	<insert id="Prtcpinsert">
  		insert into MEET_PRTCP (mtid, prtcp_id, name, gender, phone, email)
  		values (#{mtid}, #{prtcp_id}, #{name}, #{gender}, #{phone}, #{email})
	</insert>
		
	<!-- 참여인원 list select문 !-->
	<select id="selectPrtcpList" resultType="com.itwill.shape.domain.MeetPrtcp">
		select * from MEET_PRTCP where mtid = #{mtid}
	</select>
	
	
	<!-- 참여취소 delete문 !-->
	<delete id="Prtcpdelete">
		delete from MEET_PRTCP where mtid = #{ mtid } and prtcp_id = #{id}
	</delete>
	
	<!-- meetList.jsp에서 사용될 참여자 수 저장. -->
	 <!-- java.lang.Long: wrapper Class(기본 데이터 타입을 객체로 감싸는 클래스) -->
    <!-- primary key를 사용해도 됨: 중복 안되고 null이 아니기에 -->
    <select id="selectPrtcpCountWithPrtcpId" resultType="java.lang.Long">
        select count(prtcp_id) from MEET_PRTCP where prtcp_id = #{prtcp_id}
    </select>	
    
    <!-- 모임 MTID에 참여인원이 몇명인지 select 문 -->
    <select id="selectNumberPrtcpMtid" resultType="java.lang.Long">
    	select count(*) from MEET_PRTCP where mtid = #{mtid}
    </select> 
		
		
</mapper>