<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shape.repository.UserInfoRepository">

	<!-- 관리자 생성 insert 문 -->
	<insert id="insertAdmin">
		INSERT INTO USER_INFO (ID, PWD, NAME, DIVISION, JOIN_DATE)
		VALUES (#{id}, #{pwd}, #{name}, 'A', systimestamp)
	</insert>
	
	<!-- 사용자 생성 insert 문 -->
	<!-- 수정 필요. 현재 테스트로 birth를 sysdate로 insert -->
	<insert id="insertMember">
		INSERT INTO USER_INFO (
			  ID
			, PWD
			, NAME
			, GENDER
			, BIRTH
			, PHONE
			, EMAIL
			, JOIN_DATE
			, DIVISION
		) VALUES (
			  #{id}
			, #{pwd}
			, #{name}
			, #{gender}
			, systimestamp
			, #{phone}
			, #{email}
			, systimestamp
			, 'M'
		)
	</insert>
	
	 <!--마이페이지 첫 화면 개인정보 쿼리문 -->
	<select id="selectById"
		resultType="com.itwill.shape.repository.UserInfoRepository">
		select * from USER_INFO where ID = #{id}
	</select>
	
	<!--마이페이지 프로필 사진 변경 쿼리문  -->
	<update id="imageModify" parameterType="map">
	    UPDATE USER_INFO
	    SET PROFILE = #{profile}
	    WHERE id = #{id}
	</update>
	

</mapper>