<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shape.repository.UserInfoRepository">

	<!-- 하지윤: 관리자 생성 insert 문 -->
	<insert id="insertAdmin">
		INSERT INTO USER_INFO (ID, PWD, NAME, DIVISION, JOIN_DATE)
		VALUES (#{id}, #{pwd}, #{name}, 'ROLE_A', systimestamp)
	</insert>
	
	<!-- 하지윤: 사용자 생성 insert 문 -->
	<insert id="insertMember">
		INSERT INTO USER_INFO (
			  ID
			, PWD
			, NAME
			, GENDER
			, BIRTH
			, PHONE
			, EMAIL
			, JOIN_DATE
			, DIVISION
		) VALUES (
			  #{id}
			, #{pwd}
			, #{name}
			, #{gender}
			, #{birth}
			, #{phone}
			, #{email}
			, systimestamp
			, 'ROLE_M'
		)
	</insert>
	
	<!-- 하지윤: id 중복체크 -->
	<select id="idDupCheck">
		SELECT COUNT(*) AS TOCNT
		FROM USER_INFO
		WHERE ID = #{id}
	</select>
	
	<!-- 하지윤: 아이디 찾기 - 해당 이름과 이메일이 일치하는 사람이 있는지 id 리턴 -->
	<select id="findUserId" resultType="String">
		SELECT
		      UI.ID
		FROM USER_INFO UI
		WHERE UI.NAME = #{name}
		AND UI.EMAIL = #{email}
	</select>
	
	<!-- 하지윤: 해당 아이디, 이름, 이메일이 일치하는 사람이 있는지 확인 -->
	<select id="checkUserExist" resultType="int">
		SELECT
		    COUNT(*)
		FROM USER_INFO UI
		WHERE UI.NAME = #{name}
		AND UI.EMAIL = #{email}
		<if test="id != null">
			AND UI.ID = #{id}
		</if>
	</select>
	
	<!-- 하지윤: 비밀번호 새로 설정 -->
	<update id="updateUserPwd">
		UPDATE USER_INFO UI
		SET UI.PWD = #{pwd}
		WHERE UI.ID = #{id}
	</update>
	
	<!-- 하지윤: 사용자 encoding 된 pwd 찾기 -->
	<select id="findUserPwd" resultType="String">
		SELECT
			UI.PWD
		FROM USER_INFO UI
		WHERE UI.ID = #{id}
	</select>
	
	<update id="modifyPwdById" parameterType="map">
		UPDATE user_info
        SET pwd = #{inputPwd}
        where id = #{id}
	</update>
	
	<select id="selectPwdById"
			resultType="com.itwill.shape.domain.UserInfo">
		SELECT * FROM user_info WHERE id = #{id}
	</select>
	
	<!-- 로그인한 id를 이용하여 user의 정보읽기 -->
	<select id="readUserInfoById"
			resultType="com.itwill.shape.domain.UserInfo">
		SELECT * FROM USER_INFO WHERE ID = #{id}
	</select>
	
	 <!--마이페이지 첫 화면 개인정보 쿼리문 -->
	<select id="selectById"
		resultType="com.itwill.shape.domain.UserInfo">
		select * from USER_INFO where ID = #{id}
	</select>
	
	<!--마이페이지 프로필 사진 변경 쿼리문  -->
	<update id="imageModify" parameterType="map">
	    UPDATE USER_INFO
	    SET PROFILE = #{profile}
	    WHERE id = #{id}
	</update>
	
	<!-- 관리자 - 사용자 전체 조회 -->
	<select id="selectAllUser" resultType="com.itwill.shape.domain.UserInfo">
		SELECT
			*
		FROM USER_INFO
		WHERE DIVISION = 'ROLE_M'
	</select> 
	
	<!-- 관리자 - 사용자 검색 -->
	<select id="selectByKeyword" resultType="com.itwill.shape.domain.UserInfo">
		SELECT
			*
		FROM USER_INFO UI
		WHERE DIVISION = 'ROLE_M'
	    <if test='searchId != null and searchId neq ""'>
	    	AND UI.ID LIKE '%' || #{searchId} || '%'
	    </if>
	    <if test='searchPhone != null and searchPhone neq ""'>
	    	AND UI.PHONE LIKE '%' || #{searchPhone} || '%'
	    </if>
	    <if test='searchEmail != null and searchEmail neq ""'>
	    	AND UI.EMAIL LIKE '%' || #{searchEmail} || '%'
	    </if>
	    <if test='searchRegDateStart != null and searchRegDateEnd != null
	    		and searchRegDateStart neq "" and searchRegDateEnd neq ""'>
	    	<![CDATA[
			    AND JOIN_DATE >= TO_DATE(#{searchRegDateStart}, 'YYYY-MM-DD')
			    AND JOIN_DATE < TO_DATE(#{searchRegDateEnd}, 'YYYY-MM-DD') + 1
			]]>
	    </if>
	</select>
	
</mapper>