<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shape.repository.UserInfoRepository">

	<!-- 관리자 생성 insert 문 -->
	<insert id="insertAdmin">
		INSERT INTO USER_INFO (ID, PWD, NAME, DIVISION, JOIN_DATE)
		VALUES (#{id}, #{pwd}, #{name}, 'A', systimestamp)
	</insert>
	
	<!-- 사용자 생성 insert 문 -->
	<insert id="insertMember">
		INSERT INTO USER_INFO (
			  ID
			, PWD
			, NAME
			, GENDER
			, BIRTH
			, PHONE
			, EMAIL
			, JOIN_DATE
			, DIVISION
		) VALUES (
			  #{id}
			, #{pwd}
			, #{name}
			, #{gender}
			, #{birth}
			, #{phone}
			, #{email}
			, systimestamp
			, 'M'
		)
	</insert>
	
	<!-- id 중복체크 -->
	<select id="idDupCheck">
		SELECT COUNT(*) AS TOCNT
		FROM USER_INFO
		WHERE ID = #{id}
	</select>
	
	<update id="modifyPwdById" parameterType="map">
		UPDATE user_info
        SET pwd = #{inputPwd}
        where id = #{id}
	</update>
	
	<select id="selectPwdById"
			resultType="com.itwill.shape.domain.UserInfo">
		SELECT * FROM user_info WHERE id = #{id}
	</select>
	
	<!-- 로그인한 id를 이용하여 user의 정보읽기 -->
	<select id="readUserInfoById"
			resultType="com.itwill.shape.domain.UserInfo">
		SELECT * FROM USER_INFO WHERE ID = #{id}
	</select>
	
	 <!--마이페이지 첫 화면 개인정보 쿼리문 -->
	<select id="selectById"
		resultType="com.itwill.shape.domain.UserInfo">
		select * from USER_INFO where ID = #{id}
	</select>
	
	<!--마이페이지 프로필 사진 변경 쿼리문  -->
	<update id="imageModify" parameterType="map">
	    UPDATE USER_INFO
	    SET PROFILE = #{profile}
	    WHERE id = #{id}
	</update>
	

</mapper>