@charset "UTF-8";
/* header.jsp에서 사용 */
.headerBtn {border: none;}
.headerBtn:active, .headerBtn:focus { outline:none !important; box-shadow:none !important;}
/* footer.jsp에서 사용 */
.text-white {color: white;}
/* login.jsp에 사용 */
div.loginBox {
	height: 500px;
    margin-bottom: 75px;
    padding: 30px;
}
main.login-inputBox {
	width: 50%;
    margin: auto;
}
/* meet/create.jsp에 사용 */
.sub-container {background:#fff;}
.main-container {position:relative;}
 .sub-inner{
        max-width:920px;
        margin-bottom:70px;
    }