@charset "UTF-8";
/* header.jsp에서 사용 */
.headerBtn {border: none;}
.headerBtn:active, .headerBtn:focus { outline:none !important; box-shadow:none !important;}
/* footer.jsp에서 사용 */
.text-white {color: white;}
/* login.jsp에 사용 */
div.loginBox {
	height: 500px;
    margin-bottom: 75px;
    padding: 30px;
}
main.login-inputBox {
	width: 50%;
    margin: auto;
}
div.errorMessage {
	text-align: start;
    font-size: 13px;
    color: red;
}

/* 회원가입 */
div.signUpBox {
	height: 700px;
    margin-bottom: 75px;
    padding: 30px;
}

.bg-color-blue {
	background-color: blue;
}

.fw-700 {font-weight: 700;}

.signUp-border { border-color: darkgray; }

/* 아이디 및 비밀번호 찾기 */
.mb-55{margin-bottom: 55px;}
.h-330{height: 330px;}

/* meet/create.jsp, update.jsp에 사용 */
.sub-container {background:#fff;}

.main-container {
	position:relative;
}

.sub-inner{
    max-width:920px;
    margin-bottom:70px;
}

div.meetCreateBox {
	height: 2050px;
	margin-top: 75px;
	margin-bottom: 75px;
	margin-left: 300px;
	margin-right: 300px;
    padding: 80px;
    
}

#mt_notice small{
	text-align: right;
	color: red;
}

span.highlight {
	color: red;
}

.form-box#createForm {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 180px;
  margin-right: 180px;
}

/*디테일 JSP 사용 
div.meeetcontent {
	margin-right : 10px;
	margin-left: 10px;
}
div.meetdetailemail{
	margin-right : 10px;
	margin-left: 10px;
}
*/

.dt_class {
  margin-bottom: 10px;
}

.smallText {
	text-align: right;
}

.meetCreateTitle {
	text-align: center;	
	margin-bottom: 80px;
}

.meetCreateInfo {
	margin-bottom: 8px;
	margin-right: 180px;
}

/*디테일 JSP 사용*/ 
div.meeetcontent {
   margin-right :15px;
   margin-left: 15px;
}
div.meetdetailemail{
   margin-right:61px;
   margin-left: 61px;
}
div.meetdetailuser{
	margin-right:61px;
   	margin-left: 61px;
   	margin-top: -55px;
   	margin-bottom: 10px;
}

.profile {
      display: flex;
      align-items: center;
    }
  
    .user-img {
      width: 50px; /* 사용자 사진의 너비 조정 */
      height: 50px; /* 사용자 사진의 높이 조정 */
      margin-right: 10px; /* 사진과 정보 사이의 여백 조정 */
    }
  
    .user-info {
      display: flex;
      flex-direction: column;
    }
  
    .user-name, .user-email {
      font-size: 16px; /* 이름과 이메일의 글꼴 크기 조정 */
    }