@charset "UTF-8";
/* reset */
*{margin: 0; padding: 0;}
html, body {height: 100%;}
ul, ol { list-style-type: none; margin: 0; padding: 0;}
#wrap {min-height: 100%; position: relative;}
#body {margin-top: 110px; padding-bottom: 150px; min-height: 100vh;}

/* 헤더 영역 */
.header{position: fixed; width: 100%; height: 110px; background-color: white; border-bottom: 1px solid #eeeeee; top:0;}
.header .gov-info {margin: 0 auto; vertical-align: bottom;  padding: 18px 0 0px 11px; box-sizing: border-box; max-width: 1200px;}
.header .inner-wrap {padding:0;}
.header .inner-wrap::before {content: ''; display: table;}
.header h1.logo {position: absolute; left: 50%; top:40px; width:235px; height: 57px; margin: 0 0 0 -600px; padding: 0;}
.header h1.logo a {overflow: hidden; display: block; width: 100%; height: 100%; text-indent: -9999px; background: url(../images/common/Asset1.png) no-repeat 0 0;}
.header .header-wrap {width: 100%; height: 28%; padding: 0;}
.header .header-wrap .util {position: absolute; left: 50%; top: 0; width: 600px; padding: 15px 0 0 0; text-align: right; line-height: 1.1;}
.header .header-wrap .util .before {display: inline-block;}
.header .header-wrap .util .before a {display: inline-block; margin-left: 30px; text-decoration: none; color: black; text-decoration: none;}
.header .header-wrap .util .before a:first-of-type {margin-left: 0;}
.header .header-wrap .util .before a.after-login {background: url(../images/common/Asset1.png) no-repeat 0 0;}

nav ul.gnb{overflow: hidden; margin: 0 0 0 660px; padding: 23px 0 0 0;}
nav ul.gnb > li {float: left; padding: 0; position: relative; width: 190px; text-align: center;}
nav ul.gnb > li:first-of-type {margin: 0;}
nav ul.gnb > li > a {display: block; position: relative; padding: 20px 0 13px 0; font-size: 1.2857em;line-height: 1.1; font-weight: 700; letter-spacing: -0.05em; color: black; text-decoration: none;}
nav ul.gnb > li.profile > a {padding: 5px 0 6px 0;}
nav ul.gnb > li i.after-login {font-size: 40px;}

nav ul.gnb > li:hover > ul.sub_menu {display: block;}
nav ul.gnb > li > ul.sub_menu {display : none; font-weight: 400; background-color: rgb(232, 255, 147); width: inherit;}
nav ul.gnb > li > ul.sub_menu a {display : block; text-decoration : none; color : rgb(37, 37, 37); padding : 12px 20px;}
nav ul.gnb > li > ul.sub_menu a:hover {background-color : rgb(211, 255, 49);}


/* 푸터영역 */
footer {width: 100%; height: 150px; position: absolute; bottom: 0; left: 0; background-color: black;}
.footer-content {width: 600px; margin: 10px auto; color: white;}
div.link {margin-bottom: 5px;}
div.link > ul.content_list {display: flex;justify-content: center;}
div.link > ul.content_list > li { display: inline-block; width: 52px; height: 52px; line-height: 49px; border: 1px solid white; border-radius: 50%; font-size: 16px; text-align: center; transition: all 0.5s;}
div.link > ul.content_list > li > a {color: white; font-size: 30px;}
.footer-content > p {text-align: center;}

/* 사이드바 영역 */
ul.sidebar { list-style-type: none; padding: 0px; margin: 0px; width: 13%; background: white; height: 100%; overflow: auto; position: fixed; border-right: 1px solid #e0e0e0;}
ul.sidebar > li > div.logo {width: inherit; height: 64px; padding: 12px; margin: 16px;}
/* ul.sidebar > li:first-of-type {border-bottom: 1px solid #e0e0e0;} */
/* ul.sidebar > li > div.accodion-item h2 a { text-decoration: none;} */
ul.sidebar > li > a:hover { background: #333; color: #fff;}
ul.sidebar > li > div.logo > a.home {overflow: hidden; display: block; width: 100%; height: 100%; text-indent: -9999px; background: url(../images/common/Asset3.png) no-repeat 0 0; background-size: contain; background-position: center;}
ul.sidebar > li:last-child {border-top: 1px solid #e0e0e0; bottom: 0; position: fixed; width: inherit;}
ul.sidebar > li:last-child > div {height: 60px; padding: 12px;}
ul.sidebar > li:last-child > div > a { text-decoration: none; font-size: 27px; color: #000; font-weight: bold; margin-left: 10px;}
ul.sidebar > li:last-child > div > a:first-of-type {margin-left: 0;}
.cd1 {margin-left: 14%;}
div.accordion-body > ul > li > a {font-size: 1rem; color: var(--bs-accordion-btn-color); text-align: left; text-decoration: none;}
div.accordion-body > ul > li {padding: 10px;}
div.accordion-body > ul > li:hover {background-color: gray;}
.none-accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    text-decoration: none;
}





